# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# uv lockfile (opcional, pero recomendado no subirlo si usas uv sync)
uv.lock

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
auth.db
